.container {
	max-width:1400px;
	width:100%;
	margin: 0 auto;

	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.website-header {
	display: grid;
	text-align: center;
}

.main-nav a {
	
	padding:10px;
	margin: 0 px 5px;
	text-transform: uppercase;
}

.content-grid {
	height:80vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#accent-color {
	background-color: rgb(186, 171, 116);
}

.top-left{
	text-align: right;
}

.bottom-left{
	text-align: right;
}

.website-footer {
	text-align: center;
	padding: 10px;
}