html, body {
	margin: 0px;
	padding: 0px;
}
.container {
	max-width:1400px;
	width:100%;
	margin: 0 auto;

	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.website-header {
	display: grid;
	text-align: center;
}
.logo {
	text-align: center;
	padding-top: 50px;
}

.main-nav a {
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
	text-transform: uppercase;
	color: black;
	transition: 0.4s;
}
.main-nav a:hover {
	background-color: gainsboro;
}
.main-nav {
	margin: 20px;
}

.content-grid {
	height: 85vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2px;
}

#accent-color {
	background-color: rgb(186, 171, 116);
}
h1 {
	font-family: Palatino, 'Palatino Linotype', serif;
}
.top-left{
	text-align: right;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 5fr 2.5fr 2.5fr;
}
.img1 {
	background: url(Photos/man-with-luggage.PNG);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	grid-column: 2;
	grid-row: 1/4;
	object-fit: cover;
	width: 100%;
}
.star {
	background: url(Photos/star.PNG);
	background-repeat: no-repeat;
	background-size: contain;
	background-position:center;
	grid-row: 3;
	grid-column: 3;
}
.top-left h1 {
	grid-row: 2;
	grid-column: 3;
	padding-right: 20px;
}
.top-right{
	text-align: right;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 5fr 2.5fr 2.5fr;
}
.bottom-left{
	text-align: right;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 5fr 2.5fr 2.5fr;
}
.bottom-right{
	text-align: right;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 5fr 2.5fr 2.5fr;
}


.website-footer {
	background-color: rgb(186, 171, 116);
	display: grid;
	text-align: center;
	grid-template-columns: 1fr 0.2fr 1fr;
	color: white;
	position: absolute;
	bottom: 0;
	height: 60px;
	width: 100%;
}

#footer-margin {
	margin: 20px;
}
.footer-left {
	text-align: right;
}
.footer-right {
	text-align: left;
}